/** small correction for admin j4 ***/
body .popover.iconpicker-popover.bottom {
    max-width: initial !important;
    min-width: initial !important;
}
body .controls .btn-group.btn-group-yesno .btn, body .btn-group.btn-group-yesno .btn, body .btn-group.group-fcinfo .btn, body .btn-group.group-fcprimary .btn, body .btn-group.group-fcsuccess .btn, body .btn-group.group-fcwarning .btn, body .btn-group.group-fcmethod .btn, body .btn-group input[value=""]:first-of-type + label.btn {
    width: initial !important;
}
.span9 .btn-small label.btn {
    max-width: 45px;
}
.nav-tabs > li > a, .nav-pills > li > a {
    display: block !important;
}
.control-label .hasPopover, .control-label .hasTooltip {
    display: inline-block !important;
}
button.iconpicker {
    display: block !important;
}
.popover.iconpicker-popover.bottom.in{
    color: #000 !important;
    background: #fff !important;

}
body .form-grid .control-group .controls > div {
    display: initial;
    flex-basis: 100%;
}
body .form-grid .control-group .controls {
    display: initial;
}
body .form-grid .control-group .control-label {
    width: 100% !important;
}
body .popover.iconpicker-popover.bottom.in {
    color: #000 !important;
    background: #fff !important;
    z-index: 10000000000000 !important;
    pointer-events: all;
}